.item{
    display: flex;
    flex-direction: column;
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 20px;
}
.items__details{
    display: flex;
    justify-content: space-between;
    margin: 10px  0;
}
.items__details>img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    margin-right: 10px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.items_detail_desc{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}